*{
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
  height: 100%;
}
body {
font-family: 'Varela Round', sans-serif;
  background: rgb(11, 6, 6);
  padding: 0;
  margin: 0;
  height: 700px;
  
}
h1{
  text-align: center;
  padding-top: 30px;
}
.header {
  background-color: #d63031;
  width: 100%;
  height: 60px;
  /* position: fixed; */
  z-index: 10;
}
.main {
  height: 100%;
  margin-top: -4px;
  padding: 10px 50px;
 
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: #576574;
}
.menu{
list-style: none; 
  margin:0;
  padding:0;
}
.menu li{
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.menu li a{
  color: #fff;
  display: block;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
li a:hover{
  color: #feca57;
  border: 1px solid red;
  border-radius: 10px;
  font-size: 20px;
  font-style:italic;

}
#openSidebarMenu:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input#openSidebarMenu{
  display: none;
}
.sidebarIconToggle {
height: 22px;
  width: 22px;
  position: absolute;
  z-index: 99;
  top: 22px;
  left: 15px;
  transition: all 0.3s;
  cursor: pointer; 
}
.spinner {
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}
.spinner.middle ,
.spinner.bottom{
  margin-top: 3px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.middle {
  opacity: 0;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.top {
  transform: rotate(135deg);
  margin-top: 8px;
}
#openSidebarMenu:checked ~ .sidebarIconToggle > .spinner.bottom {
  transform: rotate(-135deg);
  margin-top: -9px;
}
#name{
  color: blue;
  padding-left: 90px;
  padding-top: 12px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
#name a {
  text-decoration: none;
}
#name input{
  padding-left: 0px;
}
.main h1 {
  text-align: left;
}
.searchBox {
  border: 2px solid rgba(0, 0, 0, 0.8);
  background: white;
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 24px;
  display: flex;
  margin-left: 584px;
  align-items: center;
  border-radius: 5px;
  margin-top: -5px;
}
.inputBox {
  outline: none;
  margin-left: 15px;
  border: none;
}
.fa-solid {
  font-size: 20px;
  color: gray;
}
.two{
  border: 3px solid black;
  margin-right: 10px;
  border-radius: 78%;
  color: black;
  background: black;
}
.container{
  display: flex;
  margin: 10px;
  flex-direction: row;
}
.flex2{
  padding: 35px;
  margin-top: -35px;
}
.third{
  display: flex;
  justify-content: end;
  margin-top: -58px;
}
.Container_1{
  margin-top: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}
.btn1{
  border: 1px solid black;
  width: 433px;
  height: 70px;
  /* border-radius: 10px; */
  text-align: center;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #1e3799;
  border-radius: 10px;
  
}
.btn2{
  border: 1px solid black;
  width: 433px;
  height: 70px;
  /* border-radius: 20px; */
  text-align: center;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #1e3799;
  border-radius: 10px;

}
.btn1 a{
  text-decoration: none;
  color: #fff;
  
}
.btn2 a{
  text-decoration: none;
  color: #fff;

}
.btn1 img{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.btn2 img{
  width: 40px;
  height: 40px;
  border-radius: 10px;

}
.btn1 a:hover{
  color: #b71540;
  font-size: 25px;
  transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 4s;
}
.btn2 a:hover{
  color: #b71540;
  font-size: 25px;
  transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 4s;
}



.Container_2{
  margin-top: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.btn3{
  border: 1px solid black;
  width: 433px;
  height: 70px;
  /* border-radius: 10px; */
  text-align: center;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #1e3799;
  border-radius: 10px;

  
}
.btn4{
  border: 1px solid black;
  width: 433px;
  height: 70px;
  /* border-radius: 20px; */
  text-align: center;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #1e3799;
  border-radius: 10px;

}
.btn3 a{
  text-decoration: none;
  color: #fff;
  
}
.btn4 a{
  text-decoration: none;
  color: #fff;

}
.btn3 img{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.btn4 img{
  width: 40px;
  height: 40px;
  border-radius: 10px;

}
.btn3 a:hover{
  color: #b71540;
  font-size: 25px;
  transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 4s;
}
.btn4 a:hover{
  color: #b71540;
  font-size: 25px;
  transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 4s;
}

.Container_3{
  margin-top: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}

.btn5{
  border: 1px solid black;
  width: 433px;
  height: 70px;
  /* border-radius: 10px; */
  text-align: center;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #1e3799;
  border-radius: 10px;

  
}

.btn5 a{
  /* padding: top 10px; */
  text-decoration: none;
  color: #fff;
  
}
.btn6 a{
  text-decoration: none;
  color: #fff;

}
.btn5 img{
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.btn5 a:hover{
  color: #b71540;
  font-size: 25px;
  transition-timing-function:cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 4s;
}


.selectone{
  border: 3px solid green;
  /* border: 10px; */
}
.selecttwo{
  border: 3px solid green;
}
.selectthree{
  border: 3px solid green;
}

